* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: #222;
 /* background-color: #fefefe; */
  background-color: #708491;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

header {
  /*background-color: #f0f0f0;*/
  background-image: url('https://github.com/ukamber/images/blob/398551e2b6fbb90762f5831cfaf5f3a9ef5809b7/banner-3-01.png');
  padding: 30px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #bfbdbd;
}

header p {
  font-size: 1.2rem;
  /*color: #555; */
  color: #f5f3dc;
}

nav {
  margin-top: 15px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #0077cc;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 40px 0;
  border-bottom: 1px solid #eee;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

ul {
  list-style: disc inside;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #888;
  background-color: #fafafa;
}

a {
  color: #0077cc;
}

/* RESPONSIVE DESIGN */

@media (max-width: 600px) {
  header h1 {
    font-size: 2rem;
  }

  nav a {
    display: block;
